version: '3'
services:
  production: &prod
    build:
      context: .
      args:
        - AWS_ACCESS_KEY_ID
        - AWS_SECRET_ACCESS_KEY
    environment:
      - ABS_ACCOUNT_NAME
      - ABS_ACCOUNT_KEY
      - ABS_CONTAINER_NAME
      - SNOWFLAKE_HOST
      - SNOWFLAKE_PORT
      - SNOWFLAKE_USER
      - SNOWFLAKE_PASSWORD
      - SNOWFLAKE_DATABASE
      - SNOWFLAKE_WAREHOUSE
      - SYNAPSE_UID
      - SYNAPSE_PWD
      - SYNAPSE_DATABASE
      - SYNAPSE_SERVER
      - TERADATA_HOST
      - TERADATA_PORT
      - TERADATA_USERNAME
      - TERADATA_PASSWORD
      - EXASOL_HOST
      - EXASOL_USERNAME
      - EXASOL_PASSWORD
  dev: &dev
    <<: *prod
    image: keboola/php-db-import-export
    volumes:
      - ./:/code
  dev-xdebug:
    <<: *dev
    build: docker/xdebug
  exasol:
    image: exasol/docker-db:latest
    privileged: true
    volumes:
      - exa-volume:/exa
volumes:
  exa-volume:
