services:
  production: &prod
    build:
      context: .
      args:
        - AWS_ACCESS_KEY_ID
        - AWS_SECRET_ACCESS_KEY
    image: table-utils
    environment:
      - TEST_PREFIX
      - ABS_ACCOUNT_NAME
      - ABS_ACCOUNT_KEY
      - ABS_CONTAINER_NAME
      - SNOWFLAKE_HOST
      - SNOWFLAKE_PORT
      - SNOWFLAKE_USER
      - SNOWFLAKE_PASSWORD
      - SNOWFLAKE_PRIVATE_KEY
      - SNOWFLAKE_DATABASE
      - SNOWFLAKE_WAREHOUSE
      - BQ_KEY_FILE
  dev: &dev
    <<: *prod
    extra_hosts:
      - host.docker.internal:host-gateway
    volumes:
      - ./:/code
  dev-xdebug:
    <<: *dev
    build: docker/xdebug
