name: Tests

on:
  push:
    branches:
      - master
  pull_request:

env:
  TEST_PREFIX: gh_
  # Snowflake
  SNOWFLAKE_HOST: keboolaconnectiondev.us-east-1.snowflakecomputing.com
  SNOWFLAKE_PORT: 443
  SNOWFLAKE_USER: KEBOOLA_CI_TABLE_UTILS
  SNOWFLAKE_PASSWORD: ${{ secrets.SNOWFLAKE_PASSWORD }}
  SNOWFLAKE_PRIVATE_KEY: ${{ secrets.SNOWFLAKE_PRIVATE_KEY }}
  SNOWFLAKE_DATABASE: KEBOOLA_CI_TABLE_UTILS
  SNOWFLAKE_WAREHOUSE: DEV
  # Bigquery
  BQ_KEY_FILE: ${{ secrets.BQ_KEY_FILE }}


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Build docker image
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.BUILD_AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.BUILD_AWS_SECRET_ACCESS_KEY }}
        run: |
          docker compose build production
          docker save -o /tmp/image.tar table-utils:latest
      -
        name: Check
        run: |
          docker compose run production composer check
      -
        name: Upload docker image
        uses: actions/upload-artifact@v2
        with:
          name: image
          path: /tmp/image.tar

  tests:
    runs-on: ubuntu-latest
    needs: build
    concurrency: ${{ matrix.suite }}
    strategy:
      fail-fast: false
      matrix:
        suite: [snowflake, bigquery]
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Download artifact
        uses: actions/download-artifact@v2
        with:
          name: image
          path: /tmp
      -
        name: Load Docker image
        run: |
          docker load --input /tmp/image.tar

#
# TESTS
#
      -
        name: Tests ${{ matrix.suite }}
        env:
          SUITE: ${{ matrix.suite }}
        run: docker compose run production composer tests-${{ matrix.suite }}
